/BiliStart/bin
/BiliStart/obj
/BiliStart/Properties/PublishProfiles
/BiliStart.Core/bin
/BiliStart.Core/obj
/BiliStart.UI/bin
/BiliStart.UI/obj
/.vs/BiliStart/v17/.suo
/.vs/BiliStart/v17/.futdcache.v2
/.vs/ProjectEvaluation/bilistart.projects.v5.2
/.vs/ProjectEvaluation/bilistart.metadata.v5.2
/.vs/BiliStart/FileContentIndex/e9faa40f-fcf6-49b3-862e-715d1342f577.vsidx
/.vs/BiliStart/FileContentIndex/b099a03b-8d11-48d8-a119-942277ba3ee1.vsidx
/.vs/BiliStart/FileContentIndex/8576f0ee-3f2d-4d0a-97b2-ae89f943b21c.vsidx
/.vs/BiliStart/FileContentIndex/0b58781f-dfce-4090-ad36-7c545dbcad1f.vsidx
/.vs/BiliStart/DesignTimeBuild/.dtbcache.v2
/.vs/BiliStart/FileContentIndex/merges
