BiliStart/bin/
BiliStart/obj/
BiliStart.Danmaku/bin
BiliStart.Danmaku/obj
vs
/BiliStart.Core/obj/Debug/net6.0
/BiliStart.Core/bin/Debug/net6.0
/BiliStart/BiliStart.csproj.user
/BiliStart.UI/bin/Debug/net6.0-windows10.0.19041.0
/BiliStart.UI/obj
/BiliStart.UI/BiliStart.UI.csproj.user
/BiliStart.Core/obj/Release/net6.0/ref
/BiliStart.Core/obj/Release/net6.0/refint
/BiliStart.Core/obj/Release/net6.0
/BiliStart.UI/bin/Release/net6.0-windows10.0.19041.0/BiliStart.UI
/BiliStart.Core/bin/Release/net6.0/BiliStart.Core.deps.json
/BiliStart.Core/bin/Release/net6.0/BiliStart.Core.dll
/BiliStart.Core/bin/Release/net6.0/BiliStart.Core.pdb
/BiliStart.UI/bin/Release/net6.0-windows10.0.19041.0/BiliStart.UI.deps.json
/BiliStart.UI/bin/Release/net6.0-windows10.0.19041.0/BiliStart.UI.pri
/BiliStart.UI/bin/Release/net6.0-windows10.0.19041.0/BiliStart.UI.pdb
/BiliStart.UI/bin/Release/net6.0-windows10.0.19041.0/BiliStart.UI.dll
/BiliStart.Core/obj/x86/Debug/net6.0/BiliStart.Core.csproj.AssemblyReference.cache
/.vs/ProjectEvaluation/bilistart.metadata.v5.2
/.vs/ProjectEvaluation/bilistart.projects.v5.2
/.vs/BiliStart/v17/.futdcache.v2
/.vs/BiliStart/v17/.suo
/.vs/BiliStart/FileContentIndex/9ef00f85-3f46-47f2-b5b9-a4aceda9f491.vsidx
/.vs/BiliStart/FileContentIndex/63da3831-b402-4ff2-9e36-8b042317f8e7.vsidx
/.vs/BiliStart/FileContentIndex/4e892d35-456d-45f0-b047-28d2fc31b1c8.vsidx
/.vs/BiliStart/FileContentIndex/2928a543-e747-4edc-abc5-9bfad0a12401.vsidx
/.vs/BiliStart/DesignTimeBuild/.dtbcache.v2
/BiliStart/Properties/PublishProfiles
